body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1{
    font-size: 1.5rem;
    color: #;
    margin-bottom: 20px;
    text-align: center;
}

.group{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input,
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

textarea{
    height: 100px;
    resize: none;

}

button{
    width: 100%;
    padding: 12px;
    background-color: #711bb8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}


button:hover {
    background-color: #2a0635;
}

#mensajeEstado {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    display: none;
    text-align: center;
}

.success{
    display: block !important;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
